
html, body {
    margin: 0;
}

body {
    color: black;
    font-family: sans-serif;
    background: white;
}
/* body {
    color: white;
    font-family: sans-serif;
    background: black;
} */

#teamFlag {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#teamDeuxFlag {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#match {
    padding-top: 4%;
    padding-bottom: 4%;
    border: 1px solid black;
    margin: 20px;
}

#eventIdDiv {
    display: flex;
    justify-content: center;
    display: none;

}

#stadiumElemDiv {
    display: flex;
    justify-content: center;
}

#teamElemDiv {
    display: flex;
    justify-content: center;
}

#vsElemDiv {
    padding-left: 2%;
    padding-right: 2%;
}

#drapeau {
    border: 1px solid black;
}