
html, body {
    margin: 0;
}

body {
    color: black;
    font-family: sans-serif;
    font-size: 150%;
    background: white;
}

header h1 {
    text-align: center;
    font-size: 1.3rem;
}

#start {
    width: 100%;
}

video {
    max-width: 100%;
    max-height: 100%;
}


#stadiumElemDiv {
    display: flex;
    justify-content: center;
}

#stadiumLocationElemDiv {
    display: flex;
    justify-content: center;
}

#teamFlag {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 25%;
    
}

#teamDeuxFlag {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: -25%;
}